/* File: index.html
Author: Vitovszki Tamás
Copyright: 2023, Vitovszki Tamás
Group: Szoft 1/2 N
Date: 2023-05-19
Github: https://github.com/Tomasman05/
Licenc: GNU GPL */
body{
    background-color:rgba(0, 0, 0, 0.778) !important;
    color: lightgrey !important;
}
h1{
    background-color:rgb(93, 93, 93);
}
footer{
    background-color: rgb(93, 93, 93);
}
h3{
    background-color: rgba(72, 72, 72, 0.487);
}
span{
    font-weight: lighter;
    font-size: medium;
}
.text-end{
    font-weight: bold;
}
img{
    height: 300px;
}